@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
--sidebar-flex:1.5;
--condiv-flex:6;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--typing-font:3rem;

}
*
{
margin:0;
padding: 0;
}
body
{
font-family: 'Raleway';
}
.App
{
display: flex;
width: 100vw;
min-height: 100vh;
}
/* .condiv class is for the right side content container*/
.condiv
{
padding: 100px ;
background-color: #f4f5f9;
flex:var(--condiv-flex);
}
nav
{
  
  color: #000;
padding: 0px 0px 30px 0px 30px ;
flex:var(--sidebar-flex);
background: rgb(214, 219, 215);
background: linear-gradient(180deg, rgb(81, 216, 142) 50%, rgb(57, 145, 123) 80%);
}
nav ul
{
  list-style-type: none;
  text-decoration: none;
  
}
nav ul li
{
  margin:40px;
}

.contactUnorderedList {
  list-style-type: none;
  text-decoration: none !important;
}
.active
{
font-weight: bolder;
}
.subtopic
{
margin:10px 10px 30px 10px !important;
}
p
{
font-size: var(--fontsize-p);

margin: 10px;
}
.condiv
{
  background: linear-gradient(180deg, rgb(6, 180, 99) 50%, rgb(53, 126, 107) 80%) ;
  text-align: center;
  font-size: 3vw;
  
}
p{
  font-weight: bolder;
}
.scroll-text {
  text-align: center;
  font-size: 2vw;
    }

  .profilepic{
   border-radius: 30rem;
 } 
.buttonW{
  background: linear-gradient(180deg, rgb(6, 180, 99) 50%, rgb(170, 169, 164) 80%) ;
  border-color: lightgreen;
  width: 300px;
  height: 40px;
  border-radius: 15px;
}
.buttonE{
  background: linear-gradient(180deg, rgb(153, 228, 193) 50%, rgb(170, 169, 164) 80%) ;
  border-color: lightgreen;
  width: 350px;
  height: 40px;
  border-radius: 15px;
}
.buttonC{
  background: linear-gradient(180deg, rgb(153, 228, 193) 50%, rgb(170, 169, 164) 80%) ;
  border-color: lightgreen;
  width: 200px;
  height: 40px;
  border-radius: 15px;
}
.box{
  list-style-type: none;
  text-decoration: none; 
}
.conimg{
  border-radius: 10px;
}

.scroll{
  font-size: 20px;
  
  
}
.footer{
  
font-weight: bold;
}